.header {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
/*nav {
display: flex;
}*/

.nav {
    flex: 2;
    padding-left: 150px;
}

button {
  background-color: red;
  color: white;
  float: right;
  margin-right: 60px;
  padding: 14px 40px;
  font-size: 16px;
  border-radius: 12px;
}
a {
  color: red;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
